  $scale: 1.33; 
  
  $p-size: 1.2rem; // = 16px
  $h6-size: calc($p-size * $scale); // 1.33 = 1.3 = 20.8px
  $h5-size: calc($h6-size * $scale); // 1.7689 = 1.8 = 28.8px
  $h4-size: calc($h5-size * $scale); // 2.352637 = 2.4 = 38.4px
  $h3-size: calc($h4-size * $scale); // 3.12900721 = 3.1 = 49.6px
  $h2-size: calc($h3-size * $scale); // 4.161579589 = 4.2 = 67.2px
  $h1-size: calc($h2-size * $scale); // 5.534900854 = 5.5 = 88px

  // https://css-tricks.com/consistent-fluidly-scaling-type-and-spacing/
  $size-scale: (
  'minus-two': clamp(0.7rem, 0.66rem + 0.2vw, 0.8rem),
  'minus-one': clamp(0.88rem, 0.83rem + 0.24vw, 1rem),
  'zero': clamp(1.09rem, 1rem + 0.47vw, 1.33rem),
  'five': clamp(1.37rem, 1.21rem + 0.8vw, 1.78rem),
  'four': clamp(1.71rem, 1.45rem + 1.29vw, 2.37rem),
  'three': clamp(2.14rem, 1.74rem + 1.99vw, 3.16rem),
  'two': clamp(2.67rem, 2.07rem + 3vw, 4.21rem),
  'one': clamp(3.34rem, 2.45rem + 4.43vw, 5.61rem)
);

@function typesize($size-scale, $size: "zero") {
  @return map-get($size-scale, $size);
}