
    <!-- Facebook Meta -->
    <meta property="og:url" content="https://disckeeper.io" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="DiscKeeper" />
    <meta property="og:image" content="https://disckeeper.io/img/disckeeper-logo.png" />
    <meta property="og:description" content="Lightweight and Elegant Disc Golf Score Keeping" />
    <meta property="og:site_name" content="DiscKeeper" />
    <meta property="og:locale" content="en_US" />