    <!-- Generic Meta -->
    <meta name="description" content="Lightweight and Elegant Disc Golf Score Keeping" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="application-name" content="DiscKeeper" />
    <meta name="apple-mobile-web-app-title" content="DiscKeeper" />
    <meta name='apple-touch-fullscreen' content='yes' />
    <meta name="theme-color" content="#666D93" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />