
    <!-- Microsoft Meta -->
    <meta name="msapplication-starturl" content="disckeeper.io">
    <meta name="msapplication-config" content="/img/dk-icns/browserconfig.xml" />
    <meta name="msapplication-navbutton-color" content="#666D93" />
    <meta name="msapplication-TileColor" content="#666D93" />