---
  layout: layouts/base.njk
  title: DiscKeeper - Round History
  permalink: "/pages/roundhistory.html"
---

<a href="/pages/statistics.html" class="stats">Check out cool graphs of your course statistics! ➤</a>

<choose-section class="choose"><p>Incoming Data...</p></choose-section>

<section class="rounds"></section>

<dialog class="round-modal">
  <div class="round-modal-header"></div>
  <div class="round-modal-closing">
    <button class="round-modal-close">Close</button>
  </div>
  <div class="round-modal-holes"></div>
  {% include "components/scroll-button-modal.njk" %}
</dialog>

{% include "components/scroll-button.njk" %}